.Register{
    display: flex;
    flex:content;
    flex-direction: column;
    align-content: center;
    align-self: flex-start;

}

#form-register {
    display: flex;
    flex:content;
    flex-direction: column;
    align-content: center;
    align-self: flex-start;

}

.register-form {
    display: flex;
    flex:content;
    flex-direction: column;
    align-content: center;
    align-self: flex-start;
}
